li {
  list-style-type: none;
  margin: 10px 10px;
}

a {
  background-color: 'red';
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  background-color: #007BFF;
  color: #fff;
  border: 1px solid #007BFF;
  border-radius: 5px;
  cursor: pointer;
}

li a:hover, li a:focus {
    outline: 2px solid #AAA;
}
